@{
    ViewData["Title"] = "Account Teacher";
    Layout = "_Layout";
}

<div>
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active">@Html.ActionLink("Add Student", "AddStudent", "Account")</a>
                    <a class="nav-item nav-link">Features</a>
                    <a class="nav-item nav-link">Pricing</a>
                    <a class="nav-item nav-link">Disabled</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="main">
    </main>

    <footer id="footer">
    </footer>
</div>