@model Diary.Models.Student
@{
    ViewData["Title"] = "Add Student";
    Layout = "_Layout";
}

@using (Html.BeginForm("AddStudent", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="FirstName" placeholder="First Name">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="LastName" placeholder="Last Name">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="Age" placeholder="Age">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="Email" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <input type="text" class="form-control" name="Phone" placeholder="Phone">
        </div>
        <div class="col">
            <input type="text" class="form-control" name="Password" placeholder="Password">
        </div>
    </div>
    <div class="row">
        @Html.DropDownList("AllGroups", Html.GetEnumSelectList<AllGroups>())
    </div>
    <div class="row">
        <input type="submit" />
    </div>
}
