@model IEnumerable<Diary.Models.Lesson>
@{
    ViewData["Title"] = "Lessons";
    Layout = "_LayoutStudent";
}

<h1>Lessons</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-area="Student" asp-controller="Homework" asp-action="Homeworks" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
        </tr>
    }
    </tbody>
</table>
