@model Diary.Models.LogIn
@{
    ViewData["Title"] = "Log In As Student";
    Layout = "_Layout";
}


<form asp-action="LogInAsStudent" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">@Html.DisplayNameFor(x => x.Email)</label>
        <input value="natalia@ukr.net" asp-for="Email" name="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">@Html.DisplayNameFor(x => x.Password)</label>
        <input value="qwerty" asp-for="Password" name="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Log In" class="btn btn-default" />
    </div>
</form>